body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    /* max-width: 1440px; */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2rem;
    align-items: center;
    max-width: 320px;
    height: 500px;
    position: fixed;
    padding: 0.5rem;
    padding-bottom: 1rem;
}


img {
    object-fit: cover;
    width: 95%;
    height: 60.8%;
    padding: 13px;
    border-radius: 2rem;
}


.text {
    margin: 0.5rem 1rem;
    text-align: center;
    flex-shrink: 1;
    flex-grow: 1;
}

.text-bold {
    font-weight: 700;
}

.text-light {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

footer {
    position: fixed;
    bottom: 5px;
    order: 2
}