

* {
    margin: 0;
    padding: 0;
    gap:20px;
    font-family : 'Outfit', sans-serif;
  }

  .flex-column-between
{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

main {
  background-color: hsl(212, 45%, 89%);
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

 .container {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
}


img {
    object-fit: cover;
    width: 95%;
    height: 60.8%;
    margin: 10px 10px 5px 10px;
    border-radius: 2rem;
}

.text{
text-align: center;
}

h2{
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}
p{
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}
